.patroller {
  background-color: rgba(0,0,0,.05);
  margin: .5em 0 .5em;
  padding: .5em;
  list-style: none;
  border-radius: 1px;
}

li.patroller h3 {
  margin: .5em 0 .5em;
}

li.patroller img {
  float: left;
  width: 64px;
  margin-right: .5em;
}

.selected {
  background-color: rgba(0,0,0,.1);
}

ul {
  padding: 0;
}