html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  /*padding-top: 50px;*/
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color: rgba(244,244,244,1);
}

/* App-bar CSS
-------------------------------------------------- */
.navbar {
  background-color: rgba(47,47,47,1);
  box-shadow: 0 3px 0 rgba(0,0,0,.5);
  border: 0;
  border-radius: 0;
}

.navbar a {
  color: rgba(153,153,153,1);
}

.navbar a:hover, .navbar a:focus {
  transition: .25s ease;
}

.navbar .active > a {
  color: rgba(205,205,205,1);
  background-color: rgba(34,34,34,1);
}

.nav > li > .active > a:hover {
  color: rgba(205,205,205,1);
  background-color: rgba(40,40,40,1);
}

.nav > li > a:hover {
  color: rgba(205,205,205,1);
  background-color: rgba(40,40,40,1);
}

.nav > li > a:focus {
  background-color: rgba(34,34,34,1);
}


.navbar .navbar-brand {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 20px;
  color: rgba(205,205,205,1);
  
}

.navbar .navbar-brand:hover {
  color: rgba(218,40,28,1);
}

.navbar img {
  width: 2em;
  margin-right: 1em;
}

.navbar-toggle {

}

.nav .navbar-toggle .collapsed {
  color: rgba(205,205,205,1);
}

/* Dashboard CSS
-------------------------------------------------- */

.patroller {
  background-color: rgba(0,0,0,.025);
  margin: .5em 0 .5em;
  padding: 1em;
  list-style: none;
  border-radius: 1px;
  display: block;
  border: 6px solid rgba(47,47,47,1);
  box-shadow: 0 3px 0 rgba(0,0,0,.5);
}

.patroller h3 {
  margin: .5em 0 .5em;
}

.patroller img {
  /*float: left;*/
  width: 80px;
  margin-right: .5em;
  border: 3px solid rgba(47,47,47,1);
}

.selected {
  background-color: rgba(0,0,0,.1);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.module {
  background-color: ;
}

.dashboard .zone img {
  float: left;
  width: 200px;
  margin-right: .5em;
}

.zone {
  background-color: rgba(0,0,0,.05);
  margin: .5em 0 .5em;
  padding: .5em;
  list-style: none;
  border-radius: 1px;
  display: block;
  clear: left;
}

img {
  max-width: 100%;
}


.btn {
  margin: 1em 0;
}

.map-container {
  position: relative;
  width: 100%;
  padding-bottom: calc(100% * 1/2 );
  height: 0;
  border: 6px solid rgba(0,0,0,1);
  box-shadow: 0 3px 0 rgba(0,0,0,.5);
}


.map {
  position: absolute;
  width: 100%;
  height: 100%;

}

svg {
  display: inline;  
  width: inherit;
  min-width: inherit;
  max-width: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  cursor: move;
}

/* Sticky footer
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  background-color: rgba(47,47,47,1);
  box-shadow: 0 -3px 0 rgba(0,0,0,.5);
  margin-top: 60px;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
