html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  padding-top: 50px;
  margin-bottom: 60px; /* Margin bottom by footer height */
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  margin-top: 60px;
}




/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}