<div class="dashboard">
  <div class="row">
    <div class="col-sm-4">
      <div class="module">
        <ul>
          <li *ngFor="let user of users">
            <a [routerLink]="['/patroller', user.id]" (click)="onSelect(user)" class="module-item">
              <img src="{{user.imgUrl}}">
              <h3>{{user.name}}</h3>
              <p>{{user.level}}</p> 
            </a>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-sm-8">
      <div class="module">
        <ul>
          <li *ngFor="let zone of zones">
            <a [routerLink]="['/zone', zone.id]" (click)="onSelect(zone)" class="module-item zone clearfix">
              <img src="{{zone.imgUrl}}">
              <h3>{{zone.name}}</h3>
              <p>Missions</p> 
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
