<div class="row" *ngIf="zone">
  <div class="col-sm-12">
    <h2>{{zone.name}}</h2>
  </div>
  <div class="col-sm-2">
    <p>Click on a mission to toggle display</p>
    <div *ngFor="let mission of zone.missions">
      <button (click)="toggleMission(mission)"
              [ngClass]="{'active' : isActive(mission)}"
              class="btn btn-block">{{mission.date}}</button>
    </div>
    <button (click)="goBack()" class="btn">Back</button>
    <button (click)="addNew()" class="btn">Add New</button>
  </div>
  <div class="col-sm-10">
    <div class="map-container">
      <div class="map">
          <svg id="zone-map" xmlns="http://www.w3.org/2000/svg" version="1.1">

            <g (click)="getCoords($event)">
              <image attr.xlink:href="{{zone.imgUrl}}" x="0" y="0" attr.width="{{zone.imgWidth}}" attr.height="{{zone.imgHeight}}" />
            </g>

            <g class="missions" *ngFor="let mission of activeMissions">
            <circle *ngFor="let element of mission.elements"
              [attr.cx]="element.x"
              [attr.cy]="element.y"
              [attr.r]="5/panZoomInstance.getSizes().realZoom"
              stroke="none"
              fill="rgba(218,40,28,1)"
            ></circle>
            </g>

          </svg>
      </div>
    </div>
  </div>
</div>



