<div class="row">
  <div class="col-sm-2">
    <p>List of missions here</p>
    <p>Click on a mission to toggle its display</p>
    <button (click)="goBack()" class="btn">Back</button>
    <button (click)="addNew()" class="btn">Add New</button>
  </div>
  <div class="col-sm-10">
    <div *ngIf="zone">
      <h2>{{zone.name}} details</h2>
      <div class="map-container">
        <div class="map">
            <svg id="zone-map" xmlns="http://www.w3.org/2000/svg" version="1.1">

              <g (click)="getCoords($event)">
                <image attr.xlink:href="{{zone.imgUrl}}" x="0" y="0" attr.width="{{zone.imgWidth}}" attr.height="{{zone.imgHeight}}" />
              </g>

              <g id="missions">
              </g>

            </svg>
        </div>
      </div>
    </div>
  </div>
</div>



